.login-wrapper {
  width: 30%;
  border: 1px solid rgb(177, 176, 176);
  border-radius: 8px;
  padding: 1rem;
  margin: 20px auto;
}
@media (max-width:992px) {
  .login-wrapper {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .login-wrapper {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .login-wrapper {
    width: 90%;
  }
}

.user-name {
  width: 100%;
  padding: 0.8rem 2.5rem;
  border: 0;
  border-radius: 8px;
  outline: none;
  margin: 10px 0;
}
.user-name:focus{
  outline: 1px solid #a7bdd4;
}

.btn-wrapper {
  text-align: center;
}

.btn-submit {
  padding: 0.8rem 2.5rem;
  border: 1px #ddd solid;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0353a4),
    to(#0353a4)
  );
  background: linear-gradient(to right, #cc2763, #a71a4d);
  background-repeat: no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 0.3s 0s;
  transition: background-size 0.3s 0s;
  color: #ffff;
  background-color: #c6426e;
  text-decoration: none;
  border-radius: 3rem;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: bold;
}

.btn-submit:hover {
  background-size: 100% 100%;
  color: #ffff;
}

i {
  margin-right: 13px;
}

.form-label {
  font-weight: bold;
  font-size: 0.7rem;
}
.validation{
  font-size: 0.8rem;
  color: red;
}