/* Todos style */
.todo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* todoinput style */

.todo-input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.to-do {
  width: 100%;
  padding: 0.8rem 2.5rem;
  border: 0;
  border-radius: 0.8rem;
  outline: none;
  margin: 10px;
}

.to-do:focus {
  outline: 1px solid #B1D7B4;
}

#btn-add-todo {
  border: 0;
  padding: 0.8rem 1.5rem;
  background-color: #cc2763;
  color: #ffff;
  border-radius: 1rem;
  cursor: pointer;
  transition: all ease-in-out;
  font-weight: bold;
}

#btn-add-todo:hover {
  background-color: #c6426e;
}

#btn-add-todo i {
  margin-right: 0;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin: 5px 0;
}

.todo-list-wrapper {
  width: 100%;
  padding: 10px;
}

/* todoitem style */

.todo-card {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 0.7rem;
  border: 1px solid rgb(177, 176, 176);
  border-radius: 0.8rem;
  margin: 10px 0;
  transition: all ease-in-out;
}

@media only screen and (max-width:600px) {
  .todo-card{
      width:100%;
  }
}

.todo-right {
  width: 20%;
  text-align: center;
}

.todo-left {
  width: 80%;
  display: flex;
  margin-right: 5px;
}

.todo-right-btn {
  font-size: 1.2rem;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.btn-edit {
  color: #eb854b;
}

.btn-edit i {
  margin-right: 0.5rem;
}

.btn-del {
  color: #c6426e;
}

.btn-update {
  color: #019267;
}

.btn-update:hover {
  color: #00C897;
}

.todo-check {
  margin-right: 1.5rem;
}

.incompleted:hover {
  cursor: pointer;
}

.incompleted:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.completed:before {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  top: -4px;
  left: -1px;
  content: '\2713';
  display: inline-block;
  line-height: 1.5rem;
  margin-right: 0.5rem;
  text-align: center;
  color: #ffff;
  background-color: #cc2763;
  border-radius: 1.5rem;
}

.completed:hover {
  cursor: pointer;
}

.update-todo {
  width: 100%;
  padding: 0 1.8rem;
  border: 0;
  border-radius: 0.5rem;
  outline: none;
  background-color: transparent;
}

.todo-content {
  display: inline-block;
  inline-size: 250px;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 1rem;
}

.todo-completed {
  text-decoration: line-through;
  color: rgb(116, 113, 113);
}