/* Todos style */
.todo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* todoinput style */

.todo-input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.to-do {
  width: 100%;
  padding: 0.8rem 2.5rem;
  border: 0;
  border-radius: 0.8rem;
  outline: none;
  margin: 10px;
}

.to-do:focus {
  outline: 1px solid #B1D7B4;
}

#btn-add-todo {
  border: 0;
  padding: 0.8rem 1.5rem;
  background-color: #00C897;
  color: #ffff;
  border-radius: 1rem;
  cursor: pointer;
  transition: all ease-in-out;
  font-weight: bold;
}

#btn-add-todo:hover {
  background-color: #019267;
}

#btn-add-todo i {
  margin-right: 0;
}
.error{
  color: red;
  font-size:1rem;
}

.todo-list-wrapper {
  width: 100%;
  padding: 10px;
}

/* todoitem style */

.todo-card {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  border: 1px solid #8ba4bc;
  border-radius: 0.8rem;
  margin-bottom: 10px;
  transition: all ease-in-out;
}

.todo-card:hover {
  background-color: #dce2ed;
}

.todo-left {
  margin-right: 10px;
}

.todo-right-btn {
  font-size: 1.2rem;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.btn-edit {
  color: #0353a4;
}

.btn-del {
  color: #0353a4;
}
.btn-update{
  color: #019267;
}
.btn-update:hover{
  color: #00C897;
}

.todo-check {
  margin-right: 15px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.update-todo{
  width: 100%;
  padding: 0 1.8rem;
  border: 0;
  border-radius: 0.5rem;
  outline: none;
  background-color: transparent;
}
